body,
nav li,
nav ul {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f4f4f4;
    font-family: 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    color: #444;
}
nav {
    position: fixed;
    width:100%;
    top:0;
    left:0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
    background-color: #3D9AD1;
    height: 70px;
    margin-bottom: 30px;
    overflow: visible;
}
nav li,
nav ul {
    display: block;
}
nav ul {
    overflow: hidden;
}
nav li {
    float: left;
}
nav a {
    width: 100px;
    height: 100px;
    background-color: #64A8D1;
    border-radius: 50%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    transition: all .15s ease-in;
    transition-property: color, background-color;
    text-decoration: none;
}
nav a.active {
    text-decoration: underline;
}
nav a:hover {
    background-color: #9CF;
    color: #000;
}
#content {
    margin-top: 100px;
}
#loading {
  display: inline;
}
#loading:after {
  content:"";
  animation: load 2s linear infinite;
}
@keyframes load {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

#footer {
  font-size: 10px;
  border-top: 1px solid #eee;
  padding: 8px 0;
}
